<div class="container">
  <div class="row">
    <div class="col-9 offset-2">
      <table class="table">
        <thead>
          <tr>
            <th>都道府県名</th>
            <th>投稿数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @prefectures.each do |prefecture| %>
            <tr>
              <td><%= prefecture.name %></td>
              <td><%= prefecture.posts.count %></td>
              <td>
                <div class="d-flex flex-row-reverse">
                  <%= link_to "一覧を見る", prefecture_path(prefecture.id), class: "btn btn-success"%>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @prefectures %>
    </div>
  </div>
</div>